TELEGRAM_TOKEN=your_telegram_bot_token
MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/botdb?retryWrites=true&w=majority
PORT=3000
RENDER_EXTERNAL_URL=

BAKONG_ACCOUNT_ID=your_bakong_account_id
MERCHANT_NAME=Your Merchant Name
BAKONG_API_TOKEN=your_bakong_api_token
BAKONG_API_EMAIL=your_bakong_registered_email
BAKONG_API_BASE_URL=https://api-bakong.nbc.gov.kh

PAYWAY_LINK=https://link.payway.com.kh/your-link
GITHUB_LINK=https://github.com/davidjackz0505-arch/botdownloadtiktok
SUPPORT_LINK=https://t.me/your_support_username

YTDLP_BIN=
FFMPEG_BIN=
